@font-face {
	font-family: "Lato-Black";
	src: local("Lato-Black"), url("./assets/fonts/Lato-Black.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Lato-BlackItalic";
	src: local("Lato-BlackItalic"), url("./assets/fonts/Lato-BlackItalic.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Lato-BoldItalic";
	src: local("Lato-BoldItalic"), url("./assets/fonts/Lato-BoldItalic.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Lato-Heavy";
	src: local("Lato-Heavy"), url("./assets/fonts/Lato-Heavy.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Lato-HeavyItalic";
	src: local("Lato-HeavyItalic"), url("./assets/fonts/Lato-HeavyItalic.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Lato-Italic";
	src: local("Lato-Italic"), url("./assets/fonts/Lato-Italic.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Lato-Light";
	src: local("Lato-Light"), url("./assets/fonts/Lato-Light.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Lato-Medium";
	src: local("Lato-Medium"), url("./assets/fonts/Lato-Medium.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Lato-MediumItalic";
	src: local("Lato-MediumItalic"), url("./assets/fonts/Lato-MediumItalic.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Lato-Regular";
	src: local("Lato-Regular"), url("./assets/fonts/Lato-Regular.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Lato-Semibold";
	src: local("Lato-Semibold"), url("./assets/fonts/Lato-Semibold.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Pacifico-Regular";
	src: local("Pacifico-Regular"), url("./assets/fonts/Pacifico-Regular.ttf") format("truetype");
	font-weight: bold;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato-Medium";
}